.userapp,
.userapp-crm-table-details-action-button,
.userapp-crm-table-filter,
.userapp-dashboard,
.userapp-dashboard-charts,
.userapp-dashboard-charts-first-line,
.userapp-dashboard-charts-second-line,
.userapp-dashboard-cubes,
.userapp-dashboard-cubes-box,
.userapp-dashboard-cubes-boxes {
  display: flex;
}
.userapp-dashboard,
.userapp-dashboard-charts,
.userapp-dashboard-cubes,
.userapp-dashboard-cubes-boxes {
  flex-direction: column;
}
.userapp {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.userapp-crm,
.userapp-dashboard {
  width: calc(100vw - 19vw);
  height: 90vh;
  margin-right: 2vw;
  justify-content: space-between;
}
.userapp-dashboard-cubes {
  height: 15vh;
}
.userapp-dashboard-charts {
  height: 70vh;
  justify-content: space-between;
}
.userapp-dashboard-cubes-box {
  justify-content: space-between;
}
.userapp-dashboard-filter-title {
  margin-bottom: 1vh;
  color: var(--main);
}
.userapp-dashboard-cubes-boxes {
  height: 10vh;
  width: 15vw;
  justify-content: space-between;
  border-right: solid 1px var(--white);
  color: var(--second);
}
.userapp-dashboard-cubes-boxes:last-child {
  border-right: none;
}
.title-boxes {
  font-size: 16px;
  font-weight: 800;
  padding-right: 1vw;
}
.main-boxes {
  font-size: 3em;
  padding-right: 1vw;
  margin-left: 5px;
  color: var(--main);
}
.footer-boxes {
  text-align: right;
  padding-right: 1vw;
  color: var(--success);
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 1em;
  vertical-align: middle;
}
.userapp-dashboard-charts-first-line {
  height: 35vh;
  justify-content: space-between;
}
.userapp-dashboard-charts-first-line-chart {
  width: 50vw;
  padding: 10px;
  background-color: var(--main);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.userapp-dashboard-charts-first-line-chart-filter {
  width: 100%;
  text-align: right;
}
.userapp-dashboard-charts-first-line-chart-filter select {
  background: 0 0;
  border: none;
  color: var(--second);
}
.userapp-dashboard-charts-first-line-chart-filter select option {
  background: var(--second);
  border: none;
  color: var(--main);
  border-radius: 0;
}
.userapp-dashboard-charts-first-line-chart-box {
  height: 90%;
  width: 90%;
}
.userapp-dashboard-charts-first-line-chart-box > canvas {
  margin: auto;
  width: 100%;
}
.userapp-dashboard-charts-first-line-tasks {
  width: calc(98% - 60% - 20px);
  padding: 20px;
  background-color: var(--main);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uscflt-title {
  color: var(--white);
  font-weight: 600;
  text-align: center;
}
.uscflt-body {
  height: 27vh;
  overflow-y: scroll;
}
.udcsli-body::-webkit-scrollbar,
.udcslp-body::-webkit-scrollbar,
.udcslq-body::-webkit-scrollbar,
.uscflt-body::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(245, 245, 245, 0.062);
}
.udcsli-body::-webkit-scrollbar-thumb,
.udcslp-body::-webkit-scrollbar-thumb,
.udcslq-body::-webkit-scrollbar-thumb,
.uscflt-body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 15px;
}
.uscflt-invoices,
.uscflt-projects,
.uscflt-quotation,
.uscflt-tasks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 10px;
  color: var(--white);
  border-bottom: solid 1px var(--main);
}
.uscflt-tasks-check {
  display: inline-block;
  position: relative;
  width: 15%;
}
.uscflt-invoices-name,
.uscflt-projects-name,
.uscflt-quotation-name,
.uscflt-tasks-name {
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--white);
}
.uscflt-tasks-chevron {
  width: 15%;
  text-align: right;
  cursor: pointer;
  color: var(--white);
}
.userapp-dashboard-charts-second-line {
  height: 30vh;
  justify-content: space-between;
}
.userapp-dashboard-charts-second-line-invoices,
.userapp-dashboard-charts-second-line-project,
.userapp-dashboard-charts-second-line-quotation {
  width: calc(33% - 20px);
  padding: 20px;
  background-color: var(--main);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uscflt-invoices-check input[type="checkbox"],
.uscflt-projects-check input[type="checkbox"],
.uscflt-quotation-check input[type="checkbox"],
.uscflt-tasks-check input[type="checkbox"] {
  display: none;
}
.uscflt-invoices-check label,
.uscflt-projects-check label,
.uscflt-quotation-check label,
.uscflt-tasks-check label {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uscflt-invoices-check label span,
.uscflt-projects-check label span,
.uscflt-quotation-check label span,
.uscflt-tasks-check label span {
  font-size: 14px;
  color: transparent;
  transition: color 0.3s ease-in-out;
}
.uscflt-invoices-check input[type="checkbox"]:checked + label span,
.uscflt-projects-check input[type="checkbox"]:checked + label span,
.uscflt-quotation-check input[type="checkbox"]:checked + label span,
.uscflt-tasks-check input[type="checkbox"]:checked + label span {
  color: #26ca28;
}
.uscflt-invoices-check input[type="checkbox"]:checked + label,
.uscflt-projects-check input[type="checkbox"]:checked + label,
.uscflt-quotation-check input[type="checkbox"]:checked + label,
.uscflt-tasks-check input[type="checkbox"]:checked + label {
  border-color: #26ca28;
}
.uscflt-invoices-chevron span,
.uscflt-projects-chevron span,
.uscflt-quotation-chevron span,
.uscflt-tasks-chevron span {
  color: var(--second);
}
.udcsli-title,
.udcslp-title,
.udcslq-title {
  color: var(--white);
  font-weight: 600;
  text-align: center;
  height: calc(5vh - 5px);
}
.udcsli-body,
.udcslp-body,
.udcslq-body {
  height: calc(25vh - 20px);
  overflow-y: scroll;
}
.userapp-crm-addcontact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.userapp-crm-addcontact-import,
.userapp-crm-table-details-action-button div,
.userapp-crm-table-filter div {
  margin-right: 10px;
}

.userapp-crm-addcontact-import button:hover,
.userapp-crm-addcontact-solo button:hover {
  background-color: var(--second) !important;
  border: 1px solid var(--seconddarker) !important;
  color: var(--main) !important;
}


.userapp-crm-addcontact-solo button:active,
.userapp-crm-addcontact-solo button:focus {
  color: var(--main) !important;
  background-color: var(--second) !important;
  border: 1px solid var(--second) !important;
}

.userapp-crm-addcontact-import button,
.userapp-crm-addcontact-import button:active,
.userapp-crm-addcontact-import button:focus{
  color: var(--black) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--greylight) !important;
}

.userapp-crm-addcontact-solo button {
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
}

.icon-more-infos,
.userapp-crm-addcontact-import button,
.userapp-crm-addcontact-solo button,
.userapp-crm-table-details-table th {
  cursor: pointer;
}
.ucrtf-create-date,
.ucrtf-last-activity {
  width: 20%;
}
.ucrtf-status-client {
  max-width: 60%;
  height: 10vh;
}

.userapp-crm-table-details-table-div{
margin-bottom: 1em;
}

.userapp-crm-table-details{
display: flex;
flex-direction: column;
max-height: 50vh;
}

.userapp-crm-table-details table {
  margin: 0 auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #a3a3a371;
  height: 100%;
}
.userapp-crm-table-details table tbody tr td,
.userapp-crm-table-details table thead tr th {
  padding: 15px 2px;
  height: 10%;
}
.userapp-crm-table-details table tbody tr td {
  border-top: 1px solid #a3a3a371;
}
.userapp-crm-table-details table tbody tr {
  height: 14px;
}
.userapp-crm-table-details table tbody tr td:first-child,
.userapp-crm-table-details table thead tr th:first-child {
  padding-left: 25px;
}

.userapp-crm-table-details-table td span {
  color: var(--second);
  cursor: pointer;
}
.userapp-crm-table-details-table {
  margin: 0 auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #a3a3a371;
  height: 100%;
}
.userapp-crm-table-details-slider {
  display: flex;
  width: 15%;
  justify-content: space-around;
  margin: auto;
}

.userapp-crm-table-details-action-button{
  justify-content: end;
  margin-bottom: 1em;
}
.userapp-crm-table-details-action-button-delete:focus {
  background-color: var(--greylight) !important;
}
.userapp-crm-table-details-action-button-delete,
.userapp-crm-table-details-action-button-delete:hover{
  color: var(--black) !important;
  border: 1px solid var(--greylight) !important;
  background-color: var(--white) !important;
  width: 10%;
  font-weight: 500;
}


.userapp-invoices {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 17vw);
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.userappinvoices-action-btn {
  display: flex;
  align-items: center;
  width: calc(100vw - 18vw);
  padding-top: 10px;
  padding-bottom: 20px;
}
.userappinvoices-search {
  width: 70%;
}
.userappinvoices-btns {
  width: 30%;
  display: flex;
}
.userappinvoices-btns button {
  color: var(--main) !important;
  background-color: var(--second) !important;
  border: 2px solid var(--second) !important;
  cursor: pointer;
  margin: 0 10px;
  padding: 0.5vw 1vw;
  border-radius: 10px;
}
.userappinvoices-filters {
  display: flex;
  margin-bottom: 2vh;
}
.invoices-icons-search {
  width: 2vw;
  height: 2vw;
}
.invoices-search-input {
  width: calc(100% - 2vw);
  height: 3vw;
  border: 0;
  outline: 0;
  padding-left: 1vw;
}
.invoices-search-input:focus {
  border: none;
  outline: 0;
}
.userappinvoices-filter {
  margin: 0 2vw;
  padding: 2vh 2vw;
  cursor: pointer;
}


.pagination li,
.prev-paginate {
  border-right: 1px solid #a3a3a371;
}
.next-paginate,
.pagination li,
.prev-paginate {
  padding: 0.5rem;
  background-color: #fff;
}
.next-paginate,
.pagination li,
.prev-paginate {
  border-top: 1px solid #a3a3a371;
  border-bottom: 1px solid #a3a3a371;
}

.pagination {
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
}
.prev-paginate {
  border-radius: 10px 0 0 10px;
  border-left: 1px solid #a3a3a371;
}
.next-paginate {
  border-radius: 0 10px 10px 0;
}
.pagination li {
  color: var(--main);
}
.next-paginate a,
.prev-paginate a {
  text-decoration: none;
  color: var(--main);
}
.active-pagination {
  color: var(--second) !important;
}



.active-filter-invoices {
  border-bottom: 2px solid var(--second);
}
.userappinvoices-list table {
  margin: 0 auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #a3a3a371;
  height: 100%;
}
.userappinvoices-list table tbody tr td,
.userappinvoices-list table thead tr th {
  padding: 15px 2px;
  height: 10%;
}
.userappinvoices-list table tbody tr td {
  border-top: 1px solid #a3a3a371;
}
.userappinvoices-list table tbody tr {
  height: 14px;
}
.userappinvoices-list table tbody tr td:first-child,
.userappinvoices-list table thead tr th:first-child {
  padding-left: 25px;
}
.userappinvoices-list table tbody tr td:nth-child(3),
.userappinvoices-list table thead tr th:nth-child(3) {
  width: 25vw;
  max-width: 25vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.userappinvoices-list {
  max-height: calc(100vh - 10vh - 30px - 3vw - 2vh - 2vh - 10vh);
}

.options-table-row {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #a3a3a371;
  display: flex;
}
.options-table-row button {
  background-color: var(--second) !important;
  border: 2px solid var(--second) !important;
  color: var(--main) !important;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.create-invoice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: 0.8s forwards slide-in;
}
.slide-out {
  animation: 0.8s forwards slide-out;
}
.create-invoice-modal {
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #b8b8b8;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.create-invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.create-invoice-header h2 {
  margin: 0;
}
.create-invoice-header button, .modal-content-add-contact button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.create-invoice-body {
  height: 80vh;
}
.create-invoice-body form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}
.create-invoice-body-2,
.create-invoice-body-6 {
  display: flex;
  justify-content: space-between;
}
.create-invoice-body-currency,
.create-invoice-body-status {
  width: 45%;
}
.create-invoice-body-number-body input {
  width: 100%;
}
.create-invoice-body-5 {
  display: flex;
  flex-direction: column;
}
.create-invoice-body-item-body,
.create-invoice-body-item-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.create-invoice-body-item-body-select {
  width: 75%;
}
.create-invoice-body-item-body-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.css-1nmdiq5-menu{
  overflow-x: hidden !important;
}

.modal-overlay-add-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-content-add-contact {
  width: 40%;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content-add-contact-header{
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin: 2vh 0
}

.modal-content-add-contact-body{
  height: 90vh;
  width: 90%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1em;
   scrollbar-width: thin; /* Epaisseur de la scrollbar */
  scrollbar-color: #888 #f1f1f1;
}

.modal-content-add-contact-body input[type="text"], .modal-content-add-contact-body input[type="email"], .modal-content-add-contact-body input[type="number"]{
  width: 90%;
  margin: auto;
  font-size: .9em !important;
}

.div-favorite-contact{
 width: 20%;
}

.btn-save, .btn-add-contact-form{
  color: white !important;
  background: var(--main) !important;
}

.btn-delete-contact-form{
  color: white !important;
  background: red !important;
}


/* Sélecteur pour la scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Largeur de la scrollbar */
}

/* Styling de la poignée de la scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur de la poignée */
  border-radius: 3px; /* Coins arrondis */
}

/* Styling du track de la scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Couleur du track */
}
