.navigation_user {
  height: 100%;
  width: 15vw;
  display: flex;
}
.nav-link-user {
  margin: auto;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--main);
}

.nav-link-user-btn {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  
}

.nav-link-user-btn a,
.nav-link-user-logout a {
  font-size: 16px;
  text-decoration: none;
  color: var(--blacklight) ;
  font-weight: 400;
  padding: 0.5em 1.5em 0.5em 1em;
  margin-bottom: 1vh;
}

svg:has(.icon-nav-bar){
  width: 20px;
  height: 20px;
  margin-right: 15px; 
}

.icon-nav-bar{
  fill: var(--blacklight);
}

.nav-link-user-btn a:hover {
  color: var(--blacklight);
}
.nav-link-user-btn a.active, .nav-link-user-btn a.active svg path.icon-nav-bar {
  color: var(--black) !important;
  fill: var(--black) !important;
  font-weight: 500;
}
.nav-link-user-btn a.active{
border-radius: 10px;
background-color: var(--greylighter);
}

.nav-link-user-logout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 10px;
}
